version: 2
updates:
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 25
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"

  - package-ecosystem: "mix"
    open-pull-requests-limit: 25
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
